GROQ_API_KEY=<Your_GROQ_API_KEY>
DATABASE_URL=<YOUR_DATABASE_URL>
GOOGLE_CONNECT_REDIRECT_URI=<YOUR_GOOGLE_CONNECT_REDIRECT_URI>
GOOGLE_LOGIN_REDIRECT_URI=<YOUR_GOOGLE_LOGIN_REDIRECT_URI>
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>